[build]
  publish   = "public"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/convert"
  to   = "/.netlify/functions/convert"
  status = 200
